<!-- Title -->
<tr>
  <td colspan="3"
      style="font-family: Helvetica, arial, sans-serif;
             font-size: 18px;
             color: #333333;
             text-align:center;
             line-height: 30px;"
      st-title="fulltext-heading">
    Current League Table
  </td>
</tr>
<!-- End of Title -->
