/*
 * Affix and center
 */

 .container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container  {
    width: 700px;
  }
}

/*
 * Get dividers to span pages on phones
 */

hr {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  hr {
    margin-right: 0;
    margin-left: 0;
  }
}

/*
 * Log in page
 */

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-login-heading,
.form-login  {
  margin-bottom: 10px;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login #login {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login #pword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Sign up & edit details page
 */

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signup .form-login-heading,
.form-signup  {
  margin-bottom: 10px;
}
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup #user_name,
.form-signup #pword {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup #email,
.form-signup #reenter_pword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signup #current_pword {
  margin-bottom: 10px;
}
/*
 * Layout
 */

.dropdown-menu > li > form {
  padding-left: 15px;
}

.container {
  margin-top: 70px;
}

/*
 * Fixtures page
 */

.matchRow a .row,
.matchRow a .row * {
  text-decoration: none;
}
.matchRow a .matchText,
.matchRow a .matchText * {
  color: #000;
}
.matchRow  .col-xs-1{
  padding: 0;
}
.matchRow {
  padding-top: 10px;
  margin-bottom: 10px;
}

/*
 * Match page
 */

.small-match-row {
  display: flex;
  align-items: center;
}

/*
 * Admin Page
 */

.form-tournament-role {
  margin-bottom: 10px;
}

/*
 * Flags
 */

.team-flag {
  width: 60px;
  height: 60px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flag-ALB {
    background-image: url("/img/flags/ALB.png");
}

.flag-AUT {
    background-image: url("/img/flags/AUT.png");
}

.flag-BEL {
    background-image: url("/img/flags/BEL.png");
}

.flag-CRO {
    background-image: url("/img/flags/CRO.png");
}

.flag-CZE {
    background-image: url("/img/flags/CZE.png");
}

.flag-DEN {
    background-image: url("/img/flags/DEN.png");
}

.flag-ENG {
    background-image: url("/img/flags/ENG.png");
}

.flag-ESP {
    background-image: url("/img/flags/ESP.png");
}

.flag-FRA {
    background-image: url("/img/flags/FRA.png");
}

.flag-GEO {
    background-image: url("/img/flags/GEO.png");
}

.flag-GER {
    background-image: url("/img/flags/GER.png");
}

.flag-HUN {
    background-image: url("/img/flags/HUN.png");
}

.flag-ITA {
    background-image: url("/img/flags/ITA.png");
}

.flag-NED {
    background-image: url("/img/flags/NED.png");
}

.flag-POL {
    background-image: url("/img/flags/POL.png");
}

.flag-POR {
    background-image: url("/img/flags/POR.png");
}

.flag-ROM {
    background-image: url("/img/flags/ROM.png");
}

.flag-SCO {
    background-image: url("/img/flags/SCO.png");
}

.flag-SRB {
    background-image: url("/img/flags/SRB.png");
}

.flag-SUI {
    background-image: url("/img/flags/SUI.png");
}

.flag-SVK {
    background-image: url("/img/flags/SVK.png");
}

.flag-SVN {
    background-image: url("/img/flags/SVN.png");
}

.flag-TUR {
    background-image: url("/img/flags/TUR.png");
}

.flag-UKR {
    background-image: url("/img/flags/UKR.png");
}

