                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <%== erb :'email/common/spacing' %>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>