<form class="form-signup" role="form" method="post" action="/users/edit_credentials">
  <h2 class="form-login-heading">Administer your account</h2>
  <div id="logInMessage"></div>
  <label>Change username / e-mail:</label>
  <input type="text"
         class="form-control"
         id="user_name"
         name="user_name"
         value="<%== session[:user_name] %>">
  <input type="text"
         class="form-control"
         id="email"
         name="email"
         value="<%== session[:user_email] %>">
  <label>
    Change password:<br>
    <small>Leave blank to keep current</small>
  </label>
  <input type="password"
         class="form-control"
         id="pword"
         name="pword"
         placeholder="New Password">
  <input type="password"
         class="form-control"
         id="reenter_pword"
         name="reenter_pword"
         placeholder="Re-enter Password">
  </label>
  <hr>
  <label for="current_pword">Current password required for any changes:</label>
    <input type="password"
           class="form-control"
           id="current_pword"
           name="current_pword"
           placeholder="Current Password"
           required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" id="logInBtn">Change</button>
</form>
<a href='/'>Cancel</a>