<h1>Rules</h1>
<div class="alert alert-info">I've got a four lettered word for you...</div>
<h2>How does it work?</h2>
<ul>
  <li>Predict the exact score in every match in the 2024 Euros</li>
  <li>Change your prediction as many times as you like before the match</li>
  <li>Matches will be locked down from further prediction
    <strong>30 minutes</strong> before kick-off</li>
  <li>The system will send an e-mail at lock-down saying what every player
    predicted for that match<br />
    <small>Note that the e-mail may not go out exactly half an hour before the
      kick-off but when the first person tries to interact with the website after
      the lock-down point. This ensures that it is not possible to illegally
      tamper with your prediction after the lock-down</small></li>
  <li>You will not know anyone else's predictions before lock-down, which allows
    all players to make predictions without any possibility of gaming a prediction
	  relative to someone else. Disclosure of predictions before lock-down is a
	  serious offense, so don't do it</li>
  <li>It is essential that you use these 30 minutes between lock-down and kick-off
    to riducule other players' predictions, preferably in public</li>
  <li>After the match is over, and someone has posted the result, the
    predictions will be scored and a further e-mail will be sent out</li>
  <li>In the knock-out stages, it is <strong>the score after extra time <u>and</u>
    sudden death (if played)</strong> that counts. Penalty shoot-outs are
    ignored from the result and draws can therefore still be predicted</li>
  <li>It costs &pound;20 to participate and this will fund prizes for the best
    predictors</li>
</ul>
<h2>Standard Scoring System</h2>
<p>We're running vanilla JRPL rules this year. There are <u>no muplipliers to
the knock-out stages</u></p>
<p>So points awarded as follows:</p>
<ul>
  <li>
    <p><strong>3 Points</strong> for exactly the right scorline predicted<br />
	<small>e.g. Germany to beat Scotland 2 - 1, and then that's what happens</small></p>
  </li>
  <li>
    <p><strong>1 Point</strong> for the wrong scoreline, but the right result<br />
	<small>e.g. Germany to beat Scotland 2 - 1, but then Germany win by any other scoreline</small></p>
  </li>
  <li>
    <p><strong>No Points</strong> for the wrong result<br />
	<small>e.g. Germany to beat Scotland 2 - 1 but it's a draw or Scotland win</small></p>
  </li>
</ul>
<h2>Prizes</h2>
<p>Your sign up fee of &pound;20 will fund a prize pool</p>
<p>There will be an overall league for most points across the entire tournament,
  plus two sub-leagues for the individual parts of the tournament:
  <ul>
    <li>49%: Overall Table (51 matches)</li>
    <li>9%: Group Stages (36 matches)</li>
    <li>21%: Knock-out Matches: Round of 16, Quarter-Finals, Semis-Finals & Final (15 matches)</li>
  </ul>
</p>
<p>10% of the prize pool will go the <u>Prediction of the Tournament</u> (PotT).
  This is still TBD on how it will be measured</p>
<p>The final 11% of the prize pool will be donated to charity</p>
<p>The following tables set out the prize share for placing in each of the three
  leagues:</p>
<h3>Overall</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Position</th>
      <th>Overall Prize Share</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1<sup>st</sup></td>
      <td>28%</td>
    </tr>
    <tr>
      <td>2<sup>nd</sup></td>
      <td>14%</td>
    </tr>
    <tr>
      <td>3<sup>rd</sup></td>
      <td>7%</td>
    </tr>
    <tr>
      <td>Kov</td>
      <td>Nasty</td>
    </tr>
  </tbody>
</table>
<h3>Group Stages</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Position</th>
      <th>Overall Prize Share</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1<sup>st</sup></td>
      <td>6%</td>
    </tr>
    <tr>
      <td>2<sup>nd</sup></td>
      <td>3%</td>
    </tr>
  </tbody>
</table>
<h3>The Rest</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Position</th>
      <th>Overall Prize Share</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1<sup>st</sup></td>
      <td>12%</td>
    </tr>
    <tr>
      <td>2<sup>nd</sup></td>
      <td>6%</td>
    </tr>
	<tr>
      <td>3<sup>rd</sup></td>
      <td>3%</td>
    </tr>
  </tbody>
</table>
<p>Prizes expressed as a percentage as I don't yet know how big the prize pool will
be.</p>

