<form class="form-login" role="form" method="post" action="/users/signin">
  <h2 class="form-login-heading">Please log in</h2>
  <div id="logInMessage"></div>
  <input type="text" class="form-control" id="login" name="login" placeholder="Username / E-mail address" required autofocus>
  <input type="password" class="form-control" id="pword" name="pword" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="remember_me" name="remember_me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" id="logInBtn">Log in</button>
</form>
