<form class="form-signup" role="form" method="post" action="/users/signup">
  <h2 class="form-login-heading">Create a new account</h2>
  <p>Provide a username (you will be referred to as this by the website) & and an e-mail</p>
  <div id="logInMessage"></div>
  <input type="text"
         class="form-control"
         id="user_name"
         name="user_name"
         placeholder="Username"
         required
         autofocus>
  <input type="text"
         class="form-control"
         id="email"
         name="email"
         placeholder="E-mail address"
         required>
  <input type="password"
         class="form-control"
         id="pword"
         name="pword"
         placeholder="Password"
         required>
  <input type="password"
         class="form-control"
         id="reenter_pword"
         name="reenter_pword"
         placeholder="Re-enter Password"
         required>
  <div class="checkbox">
    <label>
      <input type="checkbox"
             id="remember_me"
             name="remember_me">
        Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" id="logInBtn">Sign Up</button>
</form>