<div class="row">
  <div class="col-xs-6 text-left">
  <% unless previous_match(@match[:match_id]).nil? %>
    <a href="/match/<%== previous_match(@match[:match_id]) %>">&lt; Previous match</a>
  <% end %>
  </div>
  <div class="col-xs-6 text-right">
  <% unless next_match(@match[:match_id]).nil? %>
    <a href="/match/<%== next_match(@match[:match_id]) %>">Next match &gt;</a>
  <% end %>
  </div>
</div><!-- /navigation row-->