<div class="row">
  <div class="col-xs-6 text-left">
  <% unless @prev_match.nil? %>
    <a href="<%== link_for_ring_navigation(@prev_match) %>">&lt; Previous match</a>
  <% end %>
  </div>
  <div class="col-xs-6 text-right">
  <% unless @next_match.nil? %>
    <a href="<%== link_for_ring_navigation(@next_match) %>">Next match &gt;</a>
  <% end %>
  </div>
</div><!-- /navigation row-->