<!-- All predictions section -->
<h4 class="form-heading">All Predictions</h4>
<% if !@match[:locked_down] %>
<p>
  <em>Match not yet locked down. Come back when it is...</em>
</p>
<% else %>
  <%== erb :'match/predictions_graph' %>
  <hr />
  <%== erb :'match/predictions_table' %>
<% end %>