<div
  class="panel-group"
  id="accordionFilters"
  role="tablist"
  aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFilters">
      <h4 class="panel-title">
        <a
          class="collapsed"
          role="button"
          data-toggle="collapse"
          data-parent="#accordionFilters"
          href="#collapseFilters"
          aria-expanded="false"
          aria-controls="collapseFilters">
          Filters
        </a>
      </h4>
    </div><!-- /#headingFilters.panel-heading -->
    <div
      id="collapseFilters"
      class="panel-collapse collapse"
      role="tabpanel"
      aria-labelledby="headingFilters">
      <div class="panel-body">
        <form class="filter_form" action="/fixtures" method="post">
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                id="ckbPlayedMatches"
                name="exc_play"
                <%== 'checked' if session[:criteria][:exclude_played] %>>
              Exclude played matches
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                id="ckbPredictedMatches"
                name="exc_pred"
                <%== 'checked' if session[:criteria][:exclude_predicted] %>>
              Exclude predicted matches
            </label>
          </div>
          <hr>
          <%== erb :'fixtures/filter_stages' %>
          <button class="btn btn-lg btn-primary btn-block" type="submit" id="btnUpdateMatches">Update</button>
        </form>
      </div><!-- /.panel-body -->
    </div><!-- /#collapseFilters.panel-collapse -->
  </div><!-- /.panel-default -->
</div><!-- /#accordionFilters.panel-group -->
